.main-jurisdictions {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

.jurisdiction-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.subjurisdiction-list {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
}

.jurisdiction-label {
    display: flex;
    border: 2px solid #666;
    border-radius: 15px;
    margin: 20px;
    width: 180px;
    height: 110px;
    text-align: center;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #444;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-left: 48px;
}

.jurisdiction-label:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.subjurisdiction-label {
    display: flex;
    border: 2px solid #555;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #555;
    color: #fff;
    transition: background-color 0.2s;
}

.subjurisdiction-label:hover {
    background-color: #666;
}
